/* Color variables */

:root {
    --color-dark-blue: #090c1b;
    --color-mantis: #7ac142;
    --color-mantis-darker: #5a803d;
    --color-lighter-blue: #153c6b;
    --color-white: #ffffff;
    --color-black: #000000;
}

/* General Styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
}

button, input {
    font-family: inherit;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    font-size: 1.6rem;
    font-family: 'Mukta', sans-serif; /* font-family: 'Grandstander', cursive;*/
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    background-color: var(--color-lighter-blue);
    color: var(--color-white);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.heading-1 {
    font-size: calc(24px + 30 * ((100vw - 320px) / (1920 - 320))); /* 16 получаем отнимая размер шрифта по макету (40px) от минимального размера шрифта (24) */
    font-family: 'Grandstander', cursive;
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
}

@media (min-width: 75em) {
    .heading-1 {
        margin-top: 5rem;
        margin-bottom: 4rem;
    }
}

/*Todo Styles*/

.todo {
    width: 100%;
    padding: 0 1.3rem;
    filter: drop-shadow(0 0 0.75rem var(--color-black, 0.4));
    margin-bottom: 3rem;
}

.container {}

.todo__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 46rem;
    background-color: var(--color-dark-blue);
    border: 3px solid var(--color-mantis);
    border-radius: 1rem;
    margin: auto;
}

@media (min-width: 29em) {
    .todo__body {
        width: fit-content;
    }
}

@media (min-width: 62em) {
    .todo__body {
        min-height: 54rem;
    }
}

/* Todo Header */

.todo__header {
    position: relative;
    margin-bottom: 1rem;
}

.todo__img {
    border-radius: 1rem;
    max-height: 26rem;
}

.todo__header-time {
    position: absolute;
    bottom: .3rem;
    right: 1rem;
    font-size: calc(13px + 11 * ((100vw - 320px) / (1920 - 320)));
}

.todo__header-date {
    position: absolute;
    bottom: .3rem;
    left: 1rem;
    font-size: calc(16px + 12 * ((100vw - 320px) / (1920 - 320)));
}

.todo__header-icon {
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    fill: var(--color-white);
    cursor: pointer;
    animation: spin 2s linear infinite;
}

.todo__filter-box {
    position: absolute;
    top: 1.3rem;
    left: .8rem;
}

.todo__filter-box::after {
    content: "\25bc";
    position: absolute;
    top: 14%;
    right: 1rem;
    color: var(--color-mantis-darker);
    pointer-events: none;
}

.todo__filter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    border: 2px solid var(--color-mantis-darker);
    border-radius: 1.5rem;
    color: var(--color-mantis);
    padding: .7rem;
    cursor: pointer;
    width: 12rem;
}

/* Todo list */
.todo__list {
    flex: 1 1 auto;
}

.todo__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(15px + 11 * ((100vw - 320px) / (1920 - 320)));
    font-family: 'Grandstander', cursive;
    padding: 1rem 1rem;
    margin-bottom: 1.3rem;
    border-bottom: 1px solid var(--color-mantis-darker);
    transition: all .3s ease-in-out;
}

.crossed {
    text-decoration: line-through;
    opacity: .3;
}

.animated {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.todo__item:last-child {
    margin-bottom: 0;
}

.todo__item-icon {
    width: 3rem;
    height: 3rem;
    fill: var(--color-mantis);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.todo__item-icon:hover {
    transform: scale(1.03);
}

.todo__item-icon--unchecked {
    margin-right: .7rem;
}

.todo__item-icon--colored {
    margin-left: -3.5rem;
    margin-right: 1rem;
}

.todo__item-text {
    margin-right: auto;
}

.todo__item-icon--trash-bin {}

.hide {
    opacity: 0;
    visibility: hidden;
}

.hide.active {
    opacity: 1;
    visibility: visible;
}

.todos__add-field {
    padding: 1rem 1rem;
    border-top: 1px solid var(--color-mantis-darker);
}

.todos__add-field-body {
    display: flex;
    justify-content: space-between;
}

.todos__add-field-btn {
    margin-right: 1.2rem;
    width: 5.2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-mantis-darker);
    border-radius: 50%;
    cursor: pointer;
}

.todo__add-field-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-white);
}

.todos__add-field-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-mantis);
    border-radius: 1rem;
    background-color: transparent;
    padding: .8rem 2rem;
    color: var(--color-mantis);
}

.todos__add-field-input::placeholder {
    color: var(--color-mantis);
}

.todos__add-field-input:focus {
    outline: none;
}

/* Animations */

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
